@font-face {
    font-family: Work Sans;
    src: url("assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 600 700;
    font-style: normal italic;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: Work Sans;
    background-color: hsl(275, 100%, 97%);
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    height: 250px;
    background-image: url("./assets/images/background-pattern-desktop.svg");
}

.faq-wrapper {
    margin: 150px auto;
    width: 570px;
    background-color: hsl(0, 100%, 100%);
    border-radius: 1em;
    padding: 2em;
}

.faq-wrapper .header {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    gap: 0.35em;
    color: hsl(292, 42%, 14%);
}

.accordion-container {
    margin: 2em 0em;
}

.accordion-item {
    box-shadow: 0px 1px 0px rgb(232, 232, 232);
}

.accordion-item .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-item .accordion-header h4 {
    font-weight: 600;
    color: hsl(292, 42%, 14%);
}

.accordion-item .accordion-header h4:hover {
    color: hsl(292, 16%, 49%);
    cursor: pointer;
}

.accordion-container .accordion-header button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.accordion-item p {
    display: none;
    margin: 0.3em 0em;
}

.accordion-item .active {
    display: flex;
}

@media (max-width: 450px) {
    .faq-wrapper {
        width: 90%;
    }
}
